@page "/Create/Commodity/Option/{CommodityNo}"

<p>Create Option</p>

<div class="row">
    <center>
        <div class="float-left font-weight-bold">
            <MatH5>옵션Key</MatH5>
            <MatTextField @bind-Value="InputKey"></MatTextField>
        </div>

        <div class="float-left">
            &nbsp;&nbsp;&nbsp;
        </div>

        <div class="float-left font-weight-bold">
            <MatH5>옵션 Values</MatH5>
            <MatTextField @bind-Value="InputValues"></MatTextField>
        </div>
    </center>
    <div class="float-left">
        &nbsp;&nbsp;&nbsp;
    </div>

    <div class="float-left font-weight-bold">
        <p> </p>
        <br /> <br />
        <MatButton OnClick="SetKeyAndValue" Raised="true">SET</MatButton>
        ------
        <MatButton Raised="true">UPDATE</MatButton>
    </div>
</div>

<br /><br /><br />
<div class="row font-weight-bold">
    <MatH5>&nbsp;&nbsp;옵션 이미지 설정</MatH5>
</div>
    <MatTable Items="@ViewOptions">
        <MatTableHeader>
            <th>Name</th>
            <th>Key</th>
            <th>Value</th>
            <th>Is Image</th>
            <th>Managed</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@commodity.Name</td>
            <td>@context.Key</td>
            <td>@context.Value</td>
            <td>@context.IsImages</td>          
            <td>
            <MatButton OnClick="@(() => ImagesofOtpionDialogSwitch(context.Value))" Icon="" Raised="true">IMAGE</MatButton>
            </td>
        </MatTableRow>
    </MatTable>
 
    <MatH5>상세 페이지 이미지 설정</MatH5>
    <MatFileUpload>ImagesofDetail Upload</MatFileUpload>

@* Temp 파일도 있어야 되네.... *@

@if(ImagesofOptionDialogIsOpen)
{
   <MatDialog IsOpen="ImagesofOptionDialogIsOpen">
       <MatDialogTitle>
           <center>
               <p>옵션 이미지 추가</p>
               <img />
           </center>
       </MatDialogTitle>
   </MatDialog>
}
