@page "/Get/Commodity/Option/{CommodityNo}"

@*<h3>Option</h3>
<MatButton Raised="true" @onclick="AddDialogSwitch">Add</MatButton>

@if (Options.Count == 0)
{
    <p>Add, Option!</p>
}
else
{
    <MatTable Items="@Options" class="mat-elevation-z5">
        <MatTableHeader>
            <th>Commodity</th>
            <th>Name</th>
            <th>Value</th>
            <th>SalePrice</th>
            <th>Quantity</th>
            <th>Managed</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Commodity</td>
            <td>@context.Name</td>
            <td>@context.Value</td>
            <td>@context.SalePrice</td>
            <td>@context.Quantity</td>
            <td>
                <MatButton @onclick="UpdateDialogSwitch">Update</MatButton>
                <MatButton @onclick="() => DeleteDialogSwitch(context.OptionNo)">Delete</MatButton>
                <MatButton><a href="/Commodity/Option/@Option.OptionNo">Detail</a></MatButton>
            </td>
        </MatTableRow>
    </MatTable>
}
<Create AddDialogIsOpen="@AddDialogIsOpen"  Add="@Add" Option="@Option" CommodityNo="@CommodityNo" DialogSwitch="AddDialogSwitch"></Create>

@if (UpdateDialogIsOpen)
{

}


<Delete DeleteDialogIsOpen="@DeleteDialogIsOpen" CommodityNo="@CommodityNo" OptionNo="@DeleteOptionNo" DialogSwitch="DeleteDialogSwitch"></Delete>*@


