@page "/Get/Commodity/Option/{CommodityNo}"

<h3>Option</h3>
<MatButton @onclick="AddDialogSwitch">Add</MatButton>

@if (Options.Count == 0)
{
    <p>Add, Option!</p>
}
else
{
    <MatTable Items="@Options" class="mat-elevation-z5">
        <MatTableHeader>
            <th>Commodity</th>
            <th>Name</th>
            <th>Value</th>
            <th>SalePrice</th>
            <th>Quantity</th>
            <th>Managed</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Commodity</td>
            <td>@context.Name</td>
            <td>@context.Value</td>
            <td>@context.SalePrice</td>
            <td>@context.Quantity</td>
            <td>
                <MatButton OnClick="UpdateDialogSwitch">Update</MatButton>
                <MatButton OnClick="DeleteDialogSwitch">Delete</MatButton>
                <MatButton><a href="/Commodity/Option/@Option.OptionNo">Detail</a></MatButton>
            </td>
        </MatTableRow>
    </MatTable>

    @if (UpdateDialogIsOpen)
    {

    }

    @if (DeleteDialogIsOpen)
    {

    }

    //public int OptionNo { get; set; }
    //public string Name { get; set; }
    //public string Value { get; set; }
    //public Commodity Commodity { get; set; }

    //public string NormalPrice { get; set; }
    //public string SalePrice { get; set; }
    //public int Quantity { get; set; }
    //public string SellerCodeofCommodity { get; set; }
    //public string ModelNo { get; set; }
    //public string CommotityBarcode { get; set; }

    ///// <summary>
    ///// 대표이미지
    ///// </summary>

    //public List<Image> Images { get; set; }

@if (AddDialogIsOpen)
    {
<MatDialog @bind-IsOpen="@AddDialogIsOpen">
    <MatDialogTitle>Add_Option</MatDialogTitle>
    <MatDialogContent>
        <MatTextField @bind-Value="@Option.Name">Name</MatTextField>
        <MatTextField @bind-Value="@Option.Value">Value </MatTextField>
        <MatTextField @bind-Value="@Option.NormalPrice">NormalPrice</MatTextField>
        <MatTextField @bind-Value="@Option.SalePrice">SalePrice</MatTextField>
        <MatTextField @bind-Value="@Option.SellerCodeofCommodity">SellerCode</MatTextField>
        <MatTextField @bind-Value="@Option.ModelNo">ModelNo</MatTextField>
        <MatTextField @bind-Value="@Option.CommotityBarcode">Barcode</MatTextField>
        <MatNumericUpDownField @bind-Value="@Option.Quantity">Quantity</MatNumericUpDownField>
        @*<MatFileUpload OnChange="MultipleFilesReady" AllowMultiple="true" Label="Drop files here or Browse">옵션 이미지</MatFileUpload>
        <MatFileUpload OnChange="MultipleFilesReady" AllowMultiple="true" Label="Drop files here or Browse">상세페이지 이미지</MatFileUpload>*@
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { AddDialogIsOpen = false; })">No Thanks</MatButton>
        <MatButton OnClick="@Add">OK</MatButton>
    </MatDialogActions>
</MatDialog>
    }
}

@code {
    @*void MultipleFilesReady(IMatFileUploadEntry[] files)
    {       
        foreach (var file in files)
        {
            @Image.
            @Option.Images.Add()
            multiplelist.Add($"Name: {file.Name} - Size: {file.Size}");
        }
    }*@
}

